.history__swiper-wrapper {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 240px) / 3));
  justify-content: center;
  grid-gap: 16px;
  padding-bottom: 48px;
  grid-auto-flow: column;
  position: relative;
}

@media screen and (max-width: 768px) {
  .history__swiper-wrapper {
      margin-top: 32px;
      grid-gap: 8px;
      grid-template-columns: repeat(3, calc((100% - 96px) / 3));
      padding-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .history__swiper-wrapper {
      grid-template-columns: calc(100% - 32px);
      padding-bottom: 16px;
  }
}
