.seach__error {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  line-height: 1.3rem;
  color: red;
  position: absolute;
  bottom: -20px;
  left: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .seach__error {
    top: 80px;
  }
}
