@import url(./__title/about__title.css);
@import url(./__paragraph/about__paragraph.css);

.about {
  margin: 80px 521px 94px 104px;
}

@media screen and (max-width: 768px) {
  .about {
    margin: 29px 40px 26px 40px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    margin: 16.46px 16px 24px 16px;
  }
}
