.analytic__row-param {
  height: 40px;
  margin: 16px 104px 0 91px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .analytic__row-param {
    margin: 16px 40px 0 81px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .analytic__row-param {
    display: none;
  }
}
