.analytic__table {
  /* border: 1px solid red; */
  width: 90%;
  margin: 12px 0 0 104px;
}

@media screen and (max-width: 768px) {
  .analytic__table {
    margin: 0 40px 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .analytic__table {
    margin: 0 16px 0 16px;
  }
}
