.search__label {
  width: 40%;
	margin: 32px auto 0;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 1.5rem;

	color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search__label {
    width: 60%;
    margin: 15px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .search__label {
    width: 90%;
    margin: 56px auto 0;
    font-size: 1.25rem;
	  line-height: 1.625rem;
  }
}
