.swiper-container {
	position: relative;
	overflow: hidden;
	padding: 0 104px;
}

.swiper-container::before {
  left: 0;
  background: linear-gradient(-90deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
}

.swiper-container::after {
  right: 0;
  background: linear-gradient(90deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
}

.swiper-container::after, .swiper-container::before {
  content: '';
  width: 88px;
  height: 288px;
  position: absolute;
  z-index: 2;
  top: 64px;
}

@media screen and (max-width: 768px) {
  .swiper-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .swiper-container {
    padding: 0 16px;
  }
}
