.footer__list-links {
	/* border: 1px solid red; */
  margin-left: 40px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;

  text-align: center;

  color: #1A1B22;
  text-decoration: none;
	cursor: url(../../../images/Pointer.png), pointer;
}

@media screen and (max-width: 768px) {
  .footer__list-links {
    margin-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__list-links {
    line-height: 2.5rem;
    margin: 0;
  }
}
