.analytic__week-title {
  margin: 0 0 20px 0;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.875rem;

  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .analytic__week-title {
    font-size: 2rem;
    line-height: 2.125rem;
  }
}

@media screen and (max-width: 320px) {
  .analytic__week-title {
    margin-bottom: 12px;
    font-size: 1.875rem;
  }
}
