.analitic__day {
  border: 1px solid #F5F6F7;
  width: 100%;

  background: #F5F6F7;
}

@media screen and (max-width: 768px) {
  .analitic__day {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .analitic__day {
    width: 100%;
  }
}
