.search-result__container {
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 104px;
  margin-right: 104px;

	/* height: 46px; */
}

@media screen and (max-width: 768px) {
  .search-result__container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .search-result__container {
    margin-left: 16px;
    margin-right: 16px;
    display: block;
  }
}
