.history__swiper-pagination {
  border: 1px solid red;
  width: 40px;
  height: 10px;
  /* margin: auto; */
  /* display: flex; */
  /* justify-content: space-between; */

  top: 275px;
  right: 200px;
  /* margin-left: auto; */
  /* margin-bottom: 0; */
  /* justify-content: center; */
}
