.card__image {
	height: 272px;
	background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.card__image::after {
  content: '';
  display: block;
  max-width: 100%;
  height: 272px;
  background-color: rgba(0, 0, 0, .3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  .card__image {
	  height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .card__image::after {
	  height: 150px;
  }
}

@media screen and (max-width: 320px) {
  .card__image {
	  height: 196px;
  }
}

@media screen and (max-width: 320px) {
  .card__image::after {
	  height: 196px;
  }
}
