.analytic__menu {
  width: 212px;
  margin: 40px 0 0 104px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

@media (min-width: 321px) and (max-width: 1023px) {
  .analytic__menu {
    margin: 32px 16px 0 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .analytic__menu {
    display: none;
  }
}
