.search__search-field {
  width: 40%;
	height: 64px;
  margin: 64px auto 0;
  display: flex;
  justify-content: space-between;
  position: relative;

	background: #FFFFFF;
	box-sizing: border-box;
	border-radius: 100px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .search__search-field {
    margin: 44px auto 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .search__search-field {
    width: 60%;
    height: 56px;
    margin: 24px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .search__search-field {
    width: 90%;
    height: 156px;
    margin-top: 0;
    background: none;
    display: block;
  }
}
