@import url(./__about/menu__about.css);
@import url(./__item/menu__item.css);
@import url(./__page/menu__page.css);
@import url(./__action-white/menu__action-white.css);
@import url(./__action-black/menu__action-black.css);
@import url(./__white/menu__white.css);
@import url(./__grey/menu__grey.css);
@import url(./__black/menu__black.css);

.menu {
  /* border: 1px solid red; */
  height: 100%;
	display: flex;
  list-style-type: none;
  padding: 0;
}
