.history__button {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .history__button {
    width: 288px;
    height: 56px;
    margin: 24px auto auto auto;

    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 80px;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;

    display: flex;
    justify-content: center;

    color: #1A1B22;
    text-decoration: none;


    cursor: url(../../../images/Pointer.png), pointer;
  }
}

.history__button:hover {
	transition: opacity 0.3s;
	opacity: 0.8;
}
