.analytic__row-main {
  /* border: 1px solid red; */
  max-width: 100%;
  margin: 48px 0 0 0;
  display: flex;

  box-shadow: inset 0px -1px 0px #1A1B22;
}

@media screen and (max-width: 768px) {
  .analytic__row-main {
    margin: 49px 0 23px 0;
  }
}

@media screen and (max-width: 320px) {
  .analytic__row-main {
    margin: 16px 16px 0 0;
  }
}
