@import url(./__pic/not-found__pic.css);
@import url(./__title/not-found__title.css);
@import url(./__text/not-found__text.css);

.not-found {
  /* border: 1px solid red; */
	margin: 0;
  display: none;

	overflow: hidden;
	max-width: 1440px;
  height: 374px;

	background: #F5F6F7;
}
